h1{
  font-family: Arial;
}

*{
  color: cyan;
  background-color: black ;
}

#atribut{
  color: gray;
}

#ad{
  color: orange;
}

#ap{
  color: indigo;
}

p>img{
  height: 64px;
  width: 64px;
  float: left;
}